/Dataset
/photos
/NN Development/Dataset
/NN Development/Filtered datasets
/NN Development/NN Datasets
/.streamlit/logs
/.streamlit/utils/data
/.streamlit/utils/models
/.streamlit/utils/reports
/.streamlit/utils/temp